/*Global*/

html {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Cabin', sans-serif;

}

h1,
h2,
h3,
h4,
ol li {
    color: darkred;
}

p,
a {
    color: white;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

ul li {
    color: white;
}

p,
a,
li {
    font-size: 25px;

}

h1,
h2,
h3,
h4 {
    text-align: center;

}

h2 {
    font-size: 40px;
}

h1 {

    font-size: 60px;
}

header {
    margin: 0, 0, 0;
    background-color: white;
    margin: -8px;
}

footer {
    background-color: #f56c20;
    padding: 5px;
}

footer p {
text-align: center;
    font-size: 17px;
}

picture img {
    width: 100%;
    position: relative;
    right: 1px;
    margin-bottom: -4px;

}

.logo {
    width: 45%;
    margin: 10px;
    position: relative;
    left: 25%;
    top: 1px;



}
.menu a:hover{
    color: darkred;
    
}
#face {
    width: 10%;
}

.billeder {
    width: 100%;
    margin-top: 10px;
}

.sb {
    width: 100%;
    margin-top: 10px;
}



label {
    font-size: 55px;
    margin: 20px;
    display: block;
    width: 20px;
    color: #f56c20;
    position: absolute;
    top: 1px;
    right: 1%;
    padding-right: 5%;




}

label {
    cursor: default;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: inline-block;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
}

.menu a {
    text-decoration-line: none;
    color: white;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    border-style: ridge;
    background-color: #f88804;
    padding: 10px;
}

body {
    background-color: #f88804;
}

article {
    padding: 10px;
    background-color: #f56c20;
    margin-top: 50px;
}

.forside {
    text-align: center;
}

#mød li {
    list-style-type: none;
}

#traening li {
    list-style-type: circle;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



/*tablet*/

@media (min-width:768px) {

    .logo {
        width: 35%;
        left: 30%
    }
    label {
        font-size: 100px;
        width: 50px;
    }
    .menu {
        width: 100%;

    }
    .menu a {
        font-size: 60px;
        padding: 15px;

    }
    .start {
        width: 50%;
        height: 50%;
        display: flex;
        align-items: flex-start;
    }


    .headlines {
        width: 50%;

    }
    .artikler {
        width: 45%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .forside {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

    }
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
    }
    #face {
        width: 5%;
    }
}

/*laptop*/

@media(min-width: 1025px) {

    label {
        display: none;

    }
    #toggle {
        display: none;
    }

    .menu {
        display: block;
        background-color: #f88804;


    }

    .menu a {
        display: inline;
        border-style: none;
        font-size: 25px;
        text-align: center;
        background-color: #f88804;
        padding-top: 0px;

    }

    .logo {
        width: 15%;
        position: inherit;
    }

    picture img {
        width: 40%;
        position: relative;
        left: 40%;
    }
    .start {
        width: 25%;
        margin-top: 5%;
    }
    .headlines {
        width: 25%;

    }
    .billeder {
        width: 70%;

    }
    .sb {
        width: 30%;
    }
    .artikler {
        justify-content: center;
    }
    .indledning {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
}
